@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Criado por @ViewData["Creator"]</p>

<address>
    <strong>Mais Informações: </strong> <a href="http://linkedin.com/in/getulio-cordeiro-rosa">Linkedin.com.br</a>
</address>
